@tailwind base;
@tailwind components;
@tailwind utilities;

.diag-box {
    @apply absolute top-[30px] -translate-x-[20px];
}

.diag-box .cut-up {
    @apply absolute -translate-x-1/2 -translate-y-1/2 rounded-full bg-gray-900;
    width: 80px;
    height: 80px;
}

.diag-box .cut-bottom {
    @apply absolute -translate-x-1/2 -translate-y-1/2 rounded-full bg-gray-900;
    width: 80px;
    height: 80px;
}

.diag-box .main {
    @apply bg-gray-700;
    width: 45px;
    height: 80px;
}
